{
  "infuraSdk": {
    "active": true,
    "authOptions": {
      "chainId": 5,
      "projectId": "<infura-web3-project-api-key>",
      "secretId": "<infura-web3-project-api-key-secret>",
      "privateKey": "<wallet-private-key>"
    }
  }
}
